@charset "UTF-8";

/*******************************************************
header
*******************************************************/
.tracking-tight {
    font-size: 15px;
}

/*******************************************************
main
*******************************************************/
.wrap-video {
    position: relative;
}

.wrap-video video {
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}

.wrap-video .top_copy {
    position: absolute;
    color: #fff;
    font-size: 56px;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 1;
}

/*******************************************************
footer
*******************************************************/
.ftr {
    bottom: 0;
    background-color: #38b2ac;
    color: #fff;
    width: 100%;
}

.copyright {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}