@charset "UTF-8";

/*******************************************************
header
*******************************************************/
.tracking-tight {
    font-size: 15px;
}

.open {
    display: none;
}

.wrap_video {
    position: relative;
    padding-bottom: 48px;
}

.wrap_video video {
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}

.wrap_video .top_copy {
    position: absolute;
    color: #fff;
    font-size: 56px;
    top: 40%;
    left: 40%;
    text-align: center;
    z-index: 1;
}
/*******************************************************
main
*******************************************************/

#business_descri {
    font-size: 48px;
    text-align: center;
}

.business_explan {
    font-size: 16px;
    margin: 24px;
    text-align: center;
}

.business_img {
    padding: 48px;
    margin: 0 auto;
}

.business_title {
    font-size: 112%;
    font-weight: 700;
    padding: 16px;
}

.business_text {
    font-size: 16px;
}

#company_name {
    font-size: 48px;
    text-align: center;    
}

.company_info {
    font-size: 16px;
    margin: 24px auto;
    width: 60%;
}

.table_menu {
    background-color: #cbf2f0;
    border: solid 1px #aaaaaa;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    width: 18%;
}

.table_content {
    border: solid 1px #aaaaaa;
    padding: 10px 20px;
    text-align: center;
    width: 42%;
}

.contactform {
    padding-bottom: 48px;
    text-align: center;
}

#c_form {
    font-size: 48px;
    text-align: center; 
}

.contact_explan {
    font-size: 16px;
    margin: 24px;
}

.form {
    margin: 0 auto;
}

.form_text {
    font-weight: bold;
    padding: 8px;
}

.submitbutton {
    background-color: #38b2ac;
    color: #fff;
    cursor: pointer;
    padding: 8px 40px;
}

.submitbutton:hover {
    opacity: 0.8;
    transition: all 0.8s;
}

/*******************************************************
footer
*******************************************************/
.ftr {
    bottom: 0;
    background-color: #38b2ac;
    color: #fff;
    width: 100%;
}

.copyright {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

/*******************************************************
responsive
*******************************************************/
@media screen and (max-width: 937px) {
    .business_descri_cus {
        display: block;
    }
}
@media screen and (max-width: 801px) {
    .company_info {
        width: 80%;
    }
    .table_menu {
        font-size: 8px;
        padding: 5px 10px;
    }
    .table_content {
        font-size: 8px;
        padding: 5px 10px;
    }
}
@media screen and (max-width: 320px) {
    .wrap_video .top_copy {
        font-size: 32px;
        top: 27%;
        left: 16%;
    }
}